
    <h3 class="title"> Create DSPump </h3>
    <form (ngSubmit)="onSubmit()">
    <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> Shift Date </label>
                    <input type="text" required class="form-control" id="shiftDate" [(ngModel)]="dsPump.shiftDate"
                        name="shiftDate">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> Shift </label>
                    <input type="text" class="form-control" id="shift" [(ngModel)]="dsPump.shift" name="shift">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> Time </label>
                    <input type="text" class="form-control" id="time" [(ngModel)]="dsPump.time" name="time">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> Operator </label>
                    <input type="text" class="form-control" id="operator" [(ngModel)]="dsPump.operator" name="operator">
                </div>
            </div>       
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> roSuction </label>
                    <input type="text" class="form-control" id="roSuction" [(ngModel)]="dsPump.roSuction" name="roSuction">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> Header Press </label>
                    <input type="text" class="form-control" id="headerPress" [(ngModel)]="dsPump.headerPress"
                        name="headerPress">
                </div>
            </div>
        </div>
    </div>


    
    <div class="row">
        <div class="col-lg-2 offset-lg-1">
            <div class="box">
                <div class="form-group">
                    <label> P07-A Flow </label>
                    <input type="text" class="form-control" id="p07aFlow" [(ngModel)]="dsPump.p07aFlow" name="p07aFlow">
                </div>
            </div>   
        </div>
    <div class="col-lg-2">
        <div class="box">
            <div class="form-group">
                <label> P07-B Flow </label>
                <input type="text" class="form-control" id="p07bFlow" [(ngModel)]="dsPump.p07bFlow" name="p07bFlow">
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="box">
            <div class="form-group">
                <label> P07-C Flow </label>
                <input type="text" class="form-control" id="p07cFlow" [(ngModel)]="dsPump.p07cFlow" name="p07cFlow">
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="box">
            <div class="form-group">
                <label> P07-D Flow </label>
                <input type="text" class="form-control" id="p07dFlow" [(ngModel)]="dsPump.p07dFlow" name="p07dFlow">
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="box">
            <div class="form-group">
                <label> P07-E Flow </label>
                <input type="text" class="form-control" id="p07eFlow" [(ngModel)]="dsPump.p07eFlow" name="p07eFlow">
            </div>
        </div>
    </div>
    </div>
 


    <div class="row">
        <div class="col-lg-2 offset-lg-1">
            <div class="box">
                <div class="form-group">
                    <label> P07-A Press </label>
                    <input type="text" class="form-control" id="p07aPress" [(ngModel)]="dsPump.p07aPress" name="p07aPress">
                </div>
            </div>     
        </div>
        <div class="col-lg-2">
            <div class="box">
                <div class="form-group">
                    <label> P07-B Press </label>
                    <input type="text" class="form-control" id="p07bPress" [(ngModel)]="dsPump.p07bPress" name="p07bPress">
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="box">
                <div class="form-group">
                    <label> P07-C Press </label>
                    <input type="text" class="form-control" id="p07cPress" [(ngModel)]="dsPump.p07cPress" name="p07cPress">
                </div>
            </div> 
        </div>
        <div class="col-lg-2">
            <div class="box">
                <div class="form-group">
                    <label> P07-D Press </label>
                    <input type="text" class="form-control" id="p07dPress" [(ngModel)]="dsPump.p07dPress" name="p07dPress">
                </div>
            </div>   
        </div>
        <div class="col-lg-2">
            <div class="box">
                <div class="form-group">
                    <label> P07-E Press </label>
                    <input type="text" class="form-control" id="p07ePress" [(ngModel)]="dsPump.p07ePress" name="p07ePress">
                </div>
            </div>   
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 offset-lg-2">
            <div class="wrapper">
                <div class="form-group">
                    <label> Acid Pump Discharge Press </label>
                    <input type="text" class="form-control" id="acidPumpDischargePress"
                        [(ngModel)]="dsPump.acidPumpDischargePress" name="acidPumpDischargePress">
                </div>
            </div>      
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> Hypo Pump Discharge Press </label>
                    <input type="text" class="form-control" id="hypoPumpDischargePress"
                        [(ngModel)]="dsPump.hypoPumpDischargePress" name="hypoPumpDischargePress">
                </div>
            </div>      
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 offset-lg-2">
            <div class="wrapper">
                <div class="form-group">
                    <label> ww Booster Disch Press </label>
                    <input type="text" class="form-control" id="wwBoosterDischPress"
                        [(ngModel)]="dsPump.wwBoosterDischPress" name="wwBoosterDischPress">
                </div>
            </div>        
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> ww Booster Suction Press </label>
                    <input type="text" class="form-control" id="wwBoosterSuctionPress"
                        [(ngModel)]="dsPump.wwBoosterSuctionPress" name="wwBoosterSuctionPress">
                </div>
            </div>
        </div>
    </div>   

    <div class="row">
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> P03-A Press </label>
                    <input type="text" class="form-control" id="p03aPress" [(ngModel)]="dsPump.p03aPress" name="p03aPress">
                </div>
            </div>        
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> P03-B Press </label>
                    <input type="text" class="form-control" id="p03bPress" [(ngModel)]="dsPump.p03bPress" name="p03bPress">
                </div>
            </div>        
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> P03-C Press </label>
                    <input type="text" class="form-control" id="p03cPress" [(ngModel)]="dsPump.p03cPress" name="p03cPress">
                </div>
            </div>     
        </div>
    </div>
     
    <div class="row">
        <div class="col-lg-4 offset-lg-2">
            <div class="wrapper">
                <div class="form-group">
                    <label> ds Header Press </label>
                    <input type="text" class="form-control" id="dsHeaderPress" [(ngModel)]="dsPump.dsHeaderPress"
                        name="dsHeaderPress">
                </div>
            </div>    
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> ds Disch Press </label>
                    <input type="text" class="form-control" id="dsDischPress" [(ngModel)]="dsPump.dsDischPress"
                        name="dsDischPress">
                </div>
            </div>
                  
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> P09-A Press </label>
                    <input type="text" class="form-control" id="p09aPress" [(ngModel)]="dsPump.p09aPress" name="p09aPress">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> P09-B Press </label>
                    <input type="text" class="form-control" id="p09bPress" [(ngModel)]="dsPump.p09bPress" name="p09bPress">
                </div>
            </div>     
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> P09-C Press </label>
                    <input type="text" class="form-control" id="p09cPress" [(ngModel)]="dsPump.p09cPress" name="p09cPress">
                </div>
            </div> 
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4 offset-lg-2">
            <div class="wrapper">
                <div class="form-group">
                    <label> T14-A Level </label>
                    <input type="text" class="form-control" id="t14aLevel" [(ngModel)]="dsPump.t14aLevel" name="t14aLevel">
                </div>
            </div>   
        </div>
        <div class="col-lg-3">
            <div class="wrapper">
                <div class="form-group">
                    <label> T14-B Level </label>
                    <input type="text" class="form-control" id="t14bLevel" [(ngModel)]="dsPump.t14bLevel" name="t14bLevel">
                </div>
            </div>     
        </div>
    </div>
      
    <div class="row">
        <div class="col-lg-3">
            <div class="rec">
                <div class="form-group">
                    <label> F15-A Press </label>
                    <input type="text" class="form-control" id="f15aPress" [(ngModel)]="dsPump.f15aPress" name="f15aPress">
                </div>
            </div>      
        </div>
        <div class="col-lg-3">
            <div class="rec">
                <div class="form-group">
                    <label> F15-B Press </label>
                    <input type="text" class="form-control" id="f15bPress" [(ngModel)]="dsPump.f15bPress" name="f15bPress">
                </div>
            </div>      
        </div>
        <div class="col-lg-3">
            <div class="rec">
                <div class="form-group">
                    <label> F15-C Press </label>
                    <input type="text" class="form-control" id="f15cPress" [(ngModel)]="dsPump.f15cPress" name="f15cPress">
                </div>
            </div>   
        </div>
        <div class="col-lg-3">
            <div class="rec">
                <div class="form-group">
                    <label> F15-D Press </label>
                    <input type="text" class="form-control" id="f15dPress" [(ngModel)]="dsPump.f15dPress" name="f15dPress">
                </div>
            </div>     
        </div>
    </div>
      
    <div class="row">
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> Cartridge Filter </label>
                    <input type="text" class="form-control" id="cartridgeFilter" [(ngModel)]="dsPump.cartridgeFilter"
                        name="cartridgeFilter">
                </div>
            </div>        
        </div>
        <div class="col-lg-4">
               
        <div class="wrapper">
            <div class="form-group">
                <label> cf Diff Press </label>
                <input type="text" class="form-control" id="cfDiffPress" [(ngModel)]="dsPump.cfDiffPress"
                    name="cfDiffPress">
            </div>
        </div>    
        </div>
            <div class="col-lg-4">  
                <div class="wrapper">
                    <div class="form-group">
                        <label> T04 Level </label>
                        <input type="text" class="form-control" id="t04Level" [(ngModel)]="dsPump.t04Level" name="t04Level">
                    </div>
                </div>   
            </div>
    </div>
    
    <div class="row">
        <div class="col-lg-3">
            <div class="rec">
                <div class="form-group">
                    <label> Hypo Day Tank Level </label>
                    <input type="text" class="form-control" id="hypoDayTankLevel" [(ngModel)]="dsPump.hypoDayTankLevel"
                        name="hypoDayTankLevel">
                </div>
            </div>       
        </div>
        <div class="col-lg-3">
            <div class="rec">
                <div class="form-group">
                    <label> ro Disch Residual </label>
                    <input type="text" class="form-control" id="roDischResidual" [(ngModel)]="dsPump.roDischResidual"
                        name="roDischResidual">
                </div>
            </div>      
        </div>
        <div class="col-lg-3">
            <div class="rec">
                <div class="form-group">
                    <label> Filter Disch Residual </label>
                    <input type="text" class="form-control" id="filterDischResidual"
                        [(ngModel)]="dsPump.filterDischResidual" name="filterDischResidual">
                </div>
            </div>    
        </div>
        <div class="col-lg-3">
            <div class="rec">
                <div class="form-group">
                    <label> ds Residual </label>
                    <input type="text" class="form-control" id="dsResidual" [(ngModel)]="dsPump.dsResidual"
                        name="dsResidual">
                </div>
            </div>       
        </div>
    </div>
    

    <div class="row">
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> F02-A DP </label>
                    <input type="text" class="form-control" id="f02aDp" [(ngModel)]="dsPump.f02aDp" name="f02aDp">
                </div>
            </div>      
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> F02-B DP </label>
                    <input type="text" class="form-control" id="f02bDp" [(ngModel)]="dsPump.f02bDp" name="F02bDp">
                </div>
            </div>  
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> F02-C DP </label>
                    <input type="text" class="form-control" id="f02cDp" [(ngModel)]="dsPump.f02cDp" name="f02cDp">
                </div>
            </div>
              
        </div>
    </div>
        
    <div class="row">
        <div class="col-lg-4 offset-lg-2">
            <div class="wrapper">
                <div class="form-group">
                    <label> T02-A Level </label>
                    <input type="text" class="form-control" id="t02aLevel" [(ngModel)]="dsPump.t02aLevel" name="t02aLevel">
                </div>
            </div>  
        </div><div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> T02-B Level </label>
                    <input type="text" class="form-control" id="t02bLevel" [(ngModel)]="dsPump.t02bLevel" name="t02bLevel">
                </div>
            </div>         
        </div>
    </div>
    
     
    <div class="row">
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> Caustic Level </label>
                    <input type="text" class="form-control" id="causticLevel" [(ngModel)]="dsPump.causticLevel"
                        name="causticLevel">
                </div>
            </div>  
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> AS-9838 </label>
                    <input type="text" class="form-control" id="as9838" [(ngModel)]="dsPump.as9838" name="as9838">
                </div>
            </div>       
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> Comments </label>
                    <input type="text" class="form-control" id="comments" [(ngModel)]="dsPump.comments" name="comments">
                </div>
            </div>      
        </div>
    </div>

      
    <div class="row">
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> F02-A </label>
                    <input type="text" class="form-control" id="f02a" [(ngModel)]="dsPump.f02a" name="f02a">
                </div>
            </div>     
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> F02-B </label>
                    <input type="text" class="form-control" id="f02b" [(ngModel)]="dsPump.f02b" name="f02b">
                </div>
            </div>       
        </div>
        <div class="col-lg-4">
            <div class="wrapper">
                <div class="form-group">
                    <label> F02-C </label>
                    <input type="text" class="form-control" id="f02c" [(ngModel)]="dsPump.f02c" name="f02c">
                </div>
            </div>
        </div>        
        </div>
    </div>
    <button class="btn btn-success" type="submit">Submit</button>

 </form>
