<h3> View DSPump Details</h3>
<div>
    <div>
        <label> <b> shiftDate: </b></label> {{dsPump.shiftDate}}
    </div>
    <div>
        <label> <b> shift: </b></label> {{dsPump.shift}}
    </div>
    <div>
        <label> <b> time: </b></label> {{dsPump.time}}
    </div>
    <div>
        <label> <b> operator: </b></label> {{dsPump.operator}}
    </div>
    <div>
        <label> <b> roSuction: </b></label> {{dsPump.roSuction}}
    </div>
    <div>
        <label> <b> headerPress: </b></label> {{dsPump.headerPress}}
    </div>
    <div>
        <label> <b> p07aFlow: </b></label> {{dsPump.p07aFlow}}
    </div>
    <div>
        <label> <b> p07bFlow: </b></label> {{dsPump.p07bFlow}}
    </div>
    <div>
        <label> <b> p07cFlow: </b></label> {{dsPump.p07cFlow}}
    </div>
    <div>
        <label> <b> p07dFlow: </b></label> {{dsPump.p07dFlow}}
    </div>
    <div>
        <label> <b> p07eFlow: </b></label> {{dsPump.p07eFlow}}
    </div>
    <div>
        <label> <b> p07aPress: </b></label> {{dsPump.p07aPress}}
    </div>
    <div>
        <label> <b> p07bPress: </b></label> {{dsPump.p07bPress}}
    </div>
    <div>
        <label> <b> p07cPress: </b></label> {{dsPump.p07cPress}}
    </div>
    <div>
        <label> <b> p07dPress: </b></label> {{dsPump.p07dPress}}
    </div>
    <div>
        <label> <b> p07ePress: </b></label> {{dsPump.p07ePress}}
    </div>
    <div>
        <label> <b> acidPumpDischargePress: </b></label> {{dsPump.acidPumpDischargePress}}
    </div>
    <div>
        <label> <b> hypoPumpDischargePress: </b></label> {{dsPump.hypoPumpDischargePress}}
    </div>
    <div>
        <label> <b> wwBoosterSuctionPress: </b></label> {{dsPump.wwBoosterSuctionPress}}
    </div>
    <div>
        <label> <b> wwBoosterDischPress: </b></label> {{dsPump.wwBoosterDischPress}}
    </div>
    <div>
        <label> <b> p03aPress: </b></label> {{dsPump.p03aPress}}
    </div>
    <div>
        <label> <b> p03bPress: </b></label> {{dsPump.p03bPress}}
    </div>
    <div>
        <label> <b> p03cPress: </b></label> {{dsPump.p03cPress}}
    </div>
    <div>
        <label> <b> dsHeaderPress: </b></label> {{dsPump.dsHeaderPress}}
    </div>
    <div>
        <label> <b> dsDischPress: </b></label> {{dsPump.dsDischPress}}
    </div>
    <div>
        <label> <b> p09aPress: </b></label> {{dsPump.p09aPress}}
    </div>
    <div>
        <label> <b> p09bPress: </b></label> {{dsPump.p09bPress}}
    </div>
    <div>
        <label> <b> p09cPress: </b></label> {{dsPump.p09cPress}}
    </div>
    <div>
        <label> <b> t14aLevel: </b></label> {{dsPump.t14aLevel}}
    </div>
    <div>
        <label> <b> t14bLevel: </b></label> {{dsPump.t14bLevel}}
    </div>
    <div>
        <label> <b> f15aPress: </b></label> {{dsPump.f15aPress}}
    </div>
    <div>
        <label> <b> f15bPress: </b></label> {{dsPump.f15bPress}}
    </div>
    <div>
        <label> <b> f15cPress: </b></label> {{dsPump.f15cPress}}
    </div>
    <div>
        <label> <b> f15dPress: </b></label> {{dsPump.f15dPress}}
    </div>
    <div>
        <label> <b> cartridgeFilter: </b></label> {{dsPump.cartridgeFilter}}
    </div>
    <div>
        <label> <b> cfDiffPress: </b></label> {{dsPump.cfDiffPress}}
    </div>
    <div>
        <label> <b> t04Level: </b></label> {{dsPump.t04Level}}
    </div>
    <div>
        <label> <b> hypoDayTankLevel: </b></label> {{dsPump.hypoDayTankLevel}}
    </div>
    <div>
        <label> <b> roDischResidual: </b></label> {{dsPump.roDischResidual}}
    </div>
    <div>
        <label> <b> filterDischResidual: </b></label> {{dsPump.filterDischResidual}}
    </div>
    <div>
        <label> <b> dsResidual: </b></label> {{dsPump.dsResidual}}
    </div>
    <div>
        <label> <b> f02aDp: </b></label> {{dsPump.f02aDp}}
    </div>
    <div>
        <label> <b> f02bDp: </b></label> {{dsPump.f02bDp}}
    </div>
    <div>
        <label> <b> f02cDp: </b></label> {{dsPump.f02cDp}}
    </div>
    <div>
        <label> <b> t02aLevel: </b></label> {{dsPump.t02aLevel}}
    </div>
    <div>
        <label> <b> t02bLevel: </b></label> {{dsPump.t02bLevel}}
    </div>
    <div>
        <label> <b> as9838: </b></label> {{dsPump.as9838}}
    </div>
    <div>
        <label> <b> causticLevel: </b></label> {{dsPump.causticLevel}}
    </div>
    <div>
        <label> <b> comments: </b></label> {{dsPump.comments}}
    </div>
    <div>
        <label> <b> f02a: </b></label> {{dsPump.f02a}}
    </div>
    <div>
        <label> <b> f02b: </b></label> {{dsPump.f02b}}
    </div>
    <div>
        <label> <b> f02c: </b></label> {{dsPump.f02c}}
    </div>
</div>