<div class="col-md-6 offset-md-3">
    <h3> Update DsPump </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> shiftDate </label>
            <input type="text" class ="form-control" id = "shiftDate"
                [(ngModel)] = "dsPump.shiftDate" name = "shiftDate">
        </div>

        <div class="form-group">
            <label> shift </label>
            <input type="text" class ="form-control" id = "shift"
                [(ngModel)] = "dsPump.shift" name = "shift">
        </div>

        <div class="form-group">
            <label> time </label>
            <input type="text" class ="form-control" id = "time"
                [(ngModel)] = "dsPump.time" name = "time">
        </div>

        <div class="form-group">
            <label> operator </label>
            <input type="text" class ="form-control" id = "operator"
                [(ngModel)] = "dsPump.operator" name = "operator">
        </div>

        <div class="form-group">
            <label> roSuction </label>
            <input type="text" class ="form-control" id = "roSuction"
                [(ngModel)] = "dsPump.roSuction" name = "roSuction">
        </div>

        <div class="form-group">
            <label> headerPress </label>
            <input type="text" class ="form-control" id = "headerPress"
                [(ngModel)] = "dsPump.headerPress" name = "headerPress">
        </div>

        <div class="form-group">
            <label> p07aFlow </label>
            <input type="text" class ="form-control" id = "p07aFlow"
                [(ngModel)] = "dsPump.p07aFlow" name = "p07aFlow">
        </div>

        <div class="form-group">
            <label> p07bFlow </label>
            <input type="text" class ="form-control" id = "p07bFlow"
                [(ngModel)] = "dsPump.p07bFlow" name = "p07bFlow">
        </div>

        <div class="form-group">
            <label> p07cFlow </label>
            <input type="text" class ="form-control" id = "p07cFlow"
                [(ngModel)] = "dsPump.p07cFlow" name = "p07cFlow">
        </div>

        <div class="form-group">
            <label> p07dFlow </label>
            <input type="text" class ="form-control" id = "p07dFlow"
                [(ngModel)] = "dsPump.p07dFlow" name = "p07dFlow">
        </div>

        <div class="form-group">
            <label> p07eFlow </label>
            <input type="text" class ="form-control" id = "p07eFlow"
                [(ngModel)] = "dsPump.p07eFlow" name = "p07eFlow">
        </div>

        <div class="form-group">
            <label> p07aPress </label>
            <input type="text" class ="form-control" id = "p07aPress"
                [(ngModel)] = "dsPump.p07aPress" name = "p07aPress">
        </div>

        <div class="form-group">
            <label> p07bPress </label>
            <input type="text" class ="form-control" id = "p07bPress"
                [(ngModel)] = "dsPump.p07bPress" name = "p07bPress">
        </div>

        <div class="form-group">
            <label> p07cPress </label>
            <input type="text" class ="form-control" id = "p07cPress"
                [(ngModel)] = "dsPump.p07cPress" name = "p07cPress">
        </div>

        <div class="form-group">
            <label> p07dPress </label>
            <input type="text" class ="form-control" id = "p07dPress"
                [(ngModel)] = "dsPump.p07dPress" name = "p07dPress">
        </div>

        <div class="form-group">
            <label> p07ePress </label>
            <input type="text" class ="form-control" id = "p07ePress"
                [(ngModel)] = "dsPump.p07ePress" name = "p07ePress">
        </div>

        <div class="form-group">
            <label> acidPumpDischargePress </label>
            <input type="text" class ="form-control" id = "acidPumpDischargePress"
                [(ngModel)] = "dsPump.acidPumpDischargePress" name = "acidPumpDischargePress">
        </div>

        <div class="form-group">
            <label> hypoPumpDischargePress </label>
            <input type="text" class ="form-control" id = "hypoPumpDischargePress"
                [(ngModel)] = "dsPump.hypoPumpDischargePress" name = "hypoPumpDischargePress">
        </div>

        <div class="form-group">
            <label> wwBoosterSuctionPress </label>
            <input type="text" class ="form-control" id = "wwBoosterSuctionPress"
                [(ngModel)] = "dsPump.wwBoosterSuctionPress" name = "wwBoosterSuctionPress">
        </div>

        <div class="form-group">
            <label> wwBoosterDischPress </label>
            <input type="text" class ="form-control" id = "wwBoosterDischPress"
                [(ngModel)] = "dsPump.wwBoosterDischPress" name = "wwBoosterDischPress">
        </div>

        <div class="form-group">
            <label> p03aPress </label>
            <input type="text" class ="form-control" id = "p03aPress"
                [(ngModel)] = "dsPump.p03aPress" name = "p03aPress">
        </div>

        <div class="form-group">
            <label> p03bPress </label>
            <input type="text" class ="form-control" id = "p03bPress"
                [(ngModel)] = "dsPump.p03bPress" name = "p03bPress">
        </div>

        <div class="form-group">
            <label> p03cPress </label>
            <input type="text" class ="form-control" id = "p03cPress"
                [(ngModel)] = "dsPump.p03cPress" name = "p03cPress">
        </div>

        <div class="form-group">
            <label> dsHeaderPress </label>
            <input type="text" class ="form-control" id = "dsHeaderPress"
                [(ngModel)] = "dsPump.dsHeaderPress" name = "dsHeaderPress">
        </div>

        <div class="form-group">
            <label> dsDischPress </label>
            <input type="text" class ="form-control" id = "dsDischPress"
                [(ngModel)] = "dsPump.dsDischPress" name = "dsDischPress">
        </div>

        <div class="form-group">
            <label> p09aPress </label>
            <input type="text" class ="form-control" id = "p09aPress"
                [(ngModel)] = "dsPump.p09aPress" name = "p09aPress">
        </div>

        <div class="form-group">
            <label> p09bPress </label>
            <input type="text" class ="form-control" id = "p09bPress"
                [(ngModel)] = "dsPump.p09bPress" name = "p09bPress">
        </div>

        <div class="form-group">
            <label> p09cPress </label>
            <input type="text" class ="form-control" id = "p09cPress"
                [(ngModel)] = "dsPump.p09cPress" name = "p09cPress">
        </div>

        <div class="form-group">
            <label> t14aLevel </label>
            <input type="text" class ="form-control" id = "t14aLevel"
                [(ngModel)] = "dsPump.t14aLevel" name = "t14aLevel">
        </div>

        <div class="form-group">
            <label> t14bLevel </label>
            <input type="text" class ="form-control" id = "t14bLevel"
                [(ngModel)] = "dsPump.t14bLevel" name = "t14bLevel">
        </div>

        <div class="form-group">
            <label> f15aPress </label>
            <input type="text" class ="form-control" id = "f15aPress"
                [(ngModel)] = "dsPump.f15aPress" name = "f15aPress">
        </div>

        <div class="form-group">
            <label> f15bPress </label>
            <input type="text" class ="form-control" id = "f15bPress"
                [(ngModel)] = "dsPump.f15bPress" name = "f15bPress">
        </div>

        <div class="form-group">
            <label> f15cPress </label>
            <input type="text" class ="form-control" id = "f15cPress"
                [(ngModel)] = "dsPump.f15cPress" name = "f15cPress">
        </div>

        <div class="form-group">
            <label> f15dPress </label>
            <input type="text" class ="form-control" id = "f15dPress"
                [(ngModel)] = "dsPump.f15dPress" name = "f15dPress">
        </div>

        <div class="form-group">
            <label> cartridgeFilter </label>
            <input type="text" class ="form-control" id = "cartridgeFilter"
                [(ngModel)] = "dsPump.cartridgeFilter" name = "cartridgeFilter">
        </div>

        <div class="form-group">
            <label> cfDiffPress </label>
            <input type="text" class ="form-control" id = "cfDiffPress"
                [(ngModel)] = "dsPump.cfDiffPress" name = "cfDiffPress">
        </div>

        <div class="form-group">
            <label> t04Level </label>
            <input type="text" class ="form-control" id = "t04Level"
                [(ngModel)] = "dsPump.t04Level" name = "t04Level">
        </div>

        <div class="form-group">
            <label> hypoDayTankLevel </label>
            <input type="text" class ="form-control" id = "hypoDayTankLevel"
                [(ngModel)] = "dsPump.hypoDayTankLevel" name = "hypoDayTankLevel">
        </div>

        <div class="form-group">
            <label> roDischResidual </label>
            <input type="text" class ="form-control" id = "roDischResidual"
                [(ngModel)] = "dsPump.roDischResidual" name = "roDischResidual">
        </div>

        <div class="form-group">
            <label> filterDischResidual </label>
            <input type="text" class ="form-control" id = "filterDischResidual"
                [(ngModel)] = "dsPump.filterDischResidual" name = "filterDischResidual">
        </div>

        <div class="form-group">
            <label> dsResidual </label>
            <input type="text" class ="form-control" id = "dsResidual"
                [(ngModel)] = "dsPump.dsResidual" name = "dsResidual">
        </div>

        <div class="form-group">
            <label> f02aDp </label>
            <input type="text" class ="form-control" id = "f02aDp"
                [(ngModel)] = "dsPump.f02aDp" name = "f02aDp">
        </div>

        <div class="form-group">
            <label> f02bDp </label>
            <input type="text" class ="form-control" id = "f02bDp"
                [(ngModel)] = "dsPump.f02bDp" name = "f02bDp">
        </div>

        <div class="form-group">
            <label> f02cDp </label>
            <input type="text" class ="form-control" id = "f02cDp"
                [(ngModel)] = "dsPump.f02cDp" name = "f02cDp">
        </div>

        <div class="form-group">
            <label> t02aLevel </label>
            <input type="text" class ="form-control" id = "t02aLevel"
                [(ngModel)] = "dsPump.t02aLevel" name = "t02aLevel">
        </div>

        <div class="form-group">
            <label> t02bLevel </label>
            <input type="text" class ="form-control" id = "t02bLevel"
                [(ngModel)] = "dsPump.t02bLevel" name = "t02bLevel">
        </div>

        <div class="form-group">
            <label> as9838 </label>
            <input type="text" class ="form-control" id = "as9838"
                [(ngModel)] = "dsPump.as9838" name = "as9838">
        </div>

        <div class="form-group">
            <label> causticLevel </label>
            <input type="text" class ="form-control" id = "causticLevel"
                [(ngModel)] = "dsPump.causticLevel" name = "causticLevel">
        </div>

        <div class="form-group">
            <label> comments </label>
            <input type="text" class ="form-control" id = "comments"
                [(ngModel)] = "dsPump.comments" name = "comments">
        </div>

        <div class="form-group">
            <label> f02a </label>
            <input type="text" class ="form-control" id = "f02a"
                [(ngModel)] = "dsPump.f02a" name = "f02a">
        </div>

        <div class="form-group">
            <label> f02b </label>
            <input type="text" class ="form-control" id = "f02b"
                [(ngModel)] = "dsPump.f02b" name = "f02b">
        </div>

        <div class="form-group">
            <label> f02c </label>
            <input type="text" class ="form-control" id = "f02c"
                [(ngModel)] = "dsPump.f02c" name = "f02c">
        </div>

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
</div> 